<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650869355299-en3jcdavnr3nu0rahtfh7ehc0ocl7cv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650869355299-en3jcdavnr3nu0rahtfh7ehc0ocl7cv6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>650869355299-8u3bogv260dkld53ldhq7ha2kcr3pv1n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAc7TNelkb5TPyL_qUGQcGnfebWcDM0U9U</string>
	<key>GCM_SENDER_ID</key>
	<string>650869355299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Newcities.NewCitiesApp</string>
	<key>PROJECT_ID</key>
	<string>newcities-newurban</string>
	<key>STORAGE_BUCKET</key>
	<string>newcities-newurban.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650869355299:ios:ebb3193fadc8d1bbaa9296</string>
	<key>DATABASE_URL</key>
	<string>https://newcities-newurban.firebaseio.com</string>
</dict>
</plist>